#--MKRC-START--
#@ /etc/s-nail.rc - configuration file for S-nail(1)
#--MKRC-END--
#@ The syntax of this file is interpreted as follows:
#@ - Leading and trailing whitespace (space, tabulator, newline: " \t\n"),
#@   and all members of (the internal variable) *ifs-ws* are removed.
#@ - Empty lines are ignored.
#@ - Any other line is a command line.  Such lines may spread over multiple
#@   lines if a reverse solidus character \ is placed as the last character of
#@   all lines except the final one; any leading whitespace of follow lines is
#@   removed, but trailing whitespace before "escaped newlines" is not.
#@ - The number sign # is the comment-command and causes the (joined) line
#@   (content) to be ignored.
#--MKREL-START--
#@ S-nail v14.9.25 / 2024-06-27
#--MKREL-END--

## Variables {{{

# The standard POSIX 2008/Cor 2-2016 mandates the following initial settings
# which are established independendly from this file:
# [a]   noallnet, noappend, asksub, noaskbcc, noaskcc, noautoprint,
# [b-e] nobang, nocmd, nocrt, nodebug, nodot, escape="~",
# [f-i] noflipr, nofolder, header, nohold, noignore, noignoreeof,
# [j-o] nokeep, nokeepsave, nometoo, nooutfolder,
# [p-r] nopage, prompt="? ", noquiet, norecord,
# [s]   save, nosendwait, noshowto, nosign, noSign,
# [t-z] toplines="5"
#
# - In this mailx implementation:
#   + *sendwait* is set by default (and has extended meaning).
#   + no*onehop* does not exist.
#     (To pass options through to the MTA, either add them after a "--"
#     separator on the command line or set the *mta-arguments* variable.)
# - *hold, *keep*, and *keepsave* are deliberately set below.
# (Keep in SYNC: mx/nail.h:okeys, ./nail.rc, ./nail.1:"Initial settings"!)

# Adjustments of standard imposed default- as well as other settings follow.
# - Settings in this file assume v15-compat=yes.
# - Some of the latter are not portable and may thus have no effect with
#   other Mail(1) / mailx(1) / mail(1) programs.
# - Availability of entries marked [OPTION] is a compile-time decision.

# Append rather than prepend when writing to mbox automatically.
# Has no effect unless *hold* is unset (it is set below).
# This is a traditional entry and should usually be set.
set append

# Confirm sending of messages:
set asksend

# If threaded mode is activated, automatically collapse thread.
# And enter threaded mode automatically.
set autocollapse
#set autosort=thread

# Uncomment for coloured output in $PAGER (if possible).
#set colour-pager
# If $PAGER is less(1) or lv(1) this usually serves well:
#  ? set PAGER=less; environ unset LESS
#  ? set PAGER=lv; environ unset LV

# Use $PAGER if output is too long for a CRT-like screen.
# (crt=0 always pages; value defines the number of lines.)
set crt

# Directly enter $EDITOR in compose mode, as via `~e'.
# Assign "v" for $VISUAL, as via `~v'.
set editalong=v

# Allow editing (`~e', `~v', *editalong*) of headers in compose mode.
set editheaders

# Enter interactive mode even if (the given) mailbox is empty.
set emptystart

# Do not strip name parts and comments from addresses (when replying etc).
set fullnames

# [OPTION] Add more entries to the history as is done by default.
# With a *history-file* the latter saves them to permanent storage.
set history-gabby=all history-gabby-persist

# Do not move read messages of system mailboxes to MBOX by default since this
# is likely to be irritating for most users today; also see *keepsave*.
set hold

# Reply *quote* original messages with "> ".
# POSIX mandates tabulator ("set indentprefix=$'\t'") as default.
set indentprefix="> "

# Honour Mail-Followup-To: headers when replying etc., and generate these
# headers when sending messages to known mailing-lists.
set followup-to-honour=ask-yes followup-to

# Mark messages that have been answered.
set markanswered

# Try to circumvent false or missing MIME Content-Type descriptions.
# Do set a value for extended behaviour (see the manual).
set mime-counter-evidence=0b1111

# Control loading of mime.types(5) file, "s"ystem and/or "u"ser, etc.
# Builtin types exist and may be sufficient.  The default equals "us".
#set mimetypes-load-control

# Do not remove empty (MBOX) system mailboxes.  (_No_ empty (MBOX) mailbox
# at all if $POSIXLY_CORRECT a.k.a. *posix* is set!)
# This may be relevant for privacy since other users could otherwise create
# them with different permissions.
set keep

# Do not move `save'd or `write'n message to $MBOX by default since this is
# likely to be irritating for most users today; also see *hold*.
set keepsave

# An informational prompt (and see "Gimmicks" below).
# Of interest may also be \${^ERRQUEUE-EXISTS} and \${^ERRQUEUE-COUNT}.
# Note the _real_ evaluation occurs once used (see *prompt* manual entry).
#set prompt='?\$?!\$!/\$^ERRNAME[\${account-name}#\${mailbox-display}]? '

# Automatically quote the text of the message that is responded to.
set quote

# When replying, do not merge From: and To: of the original message
# into To:.  Instead old From: -> new To:, old To: -> merge Cc:.
set recipients-in-cc

# When responding to a message, try to answer in the same character set
# (subject to `charsetalias' expansion).
#set reply-in-same-charset

# Honour Reply-To: headers when replying etc.
set reply-to-honour=ask-yes

# [OPTION] Outgoing messages are sent in UTF-8 if possible, otherwise LATIN1.
# Note: it is highly advisable to read the section "Character sets" of the
# manual in order to understand all the possibilities that exist to fine-tune
# charset usage (variables also of interest: *ttycharset*, *charset-8bit*,
# *sendcharsets-else-ttycharset*; and of course we inherit the $LC_CTYPE /
# $LC_ALL / $LANG environment variables and react upon them).
set sendcharsets=utf-8,iso-8859-1

# Display real sender names in header summaries instead of only addresses.
set showname

# Show recipients of messages sent by the user himself in header summaries.
set showto

## }}}
## Commands {{{

# Unportable commands are commented out; when placed in specific file,
#   set mailx-extra-rc=~/.my-file"
# in $MAILRC (usually ~/.mailrc) will load them.
# Command modifiers are not portable.

# Map ISO-8859-1 to LATIN1, and LATIN1 to CP1252.
# (These mappings are not applied to character sets specified by other
# variables, e.g., *sendcharsets*).
#\charsetalias iso-8859-1 latin1  latin1 cp1252

# Only include the selected header fields when printing messages
retain date sender from to cc subject message-id mail-followup-to reply-to
#\headerpick type retain from_ date sender from to cc subject \
#   message-id mail-followup-to reply-to
# - when forwarding messages
#\headerpick forward retain subject date sender from to cc
# - and do not include these when saving message, etc.
#\if "$features" =@ ,+regex,
#  \headerpick save ignore '^Original-.*$' '^X-.*$'
#\end

## }}}
## Some pipe-TYPE/SUBTYPE entries {{{
# (Non-optional feature, different to ~/.mailcap support)

# HTML as text, inline display via lynx(1).
#\if "$features" !@ ,+filter-html-tagsoup,
#   \set pipe-text/html='?* lynx -stdin -dump -force_html'
#\endif

# "External body", URL type supported only.
#\set pipe-message/external-body='?* echo $MAILX_EXTERNAL_BODY_URL'

# PDF display, asynchronous display: via `mimeview' command only.
#\set pipe-application/pdf='?=&?\
#   trap "rm -f \"${MAILX_FILENAME_TEMPORARY}\"" EXIT;\
#   trap "trap \"\" INT QUIT TERM; exit 1" INT QUIT TERM;\
#   mupdf "${MAILX_FILENAME_TEMPORARY}"'

## }}}
## Gimmicks {{{

# If interactive
#\if terminal
#   # More key bindings for the Mailx-Line-Editor.
#   \if "$features" =@ ,+key-bindings,
#      \bind base  $'\e',d  mle-snarf-word-fwd
#      \bind base  $'\e',$'\c?'  mle-snarf-word-bwd
#      \bind base  $'\e',f  mle-go-word-fwd
#      \bind base  $'\e',b  mle-go-word-bwd
#      \bind base  $'\cL'  mle-clear-screen
#      \bind compose :kf1 ~v
#   \endif
#
#   # Coloured prompt for the Mailx-Line-Editor.
#   \if "$features" =@ ,+mle, && "$features" =@ ,+colour,
#      \colour 256 mle-position fg=202
#      \colour 256 mle-prompt fg=203
#      \colour 256 mle-error bg=124
#      \colour iso mle-position ft=bold
#      \colour iso mle-prompt fg=brown
#      \colour iso mle-error bg=red
#      \colour mono mle-position ft=reverse
#      \colour mono mle-prompt ft=bold
#      \colour mono mle-error ft=reverse
#   \endif
#\endif

# Install file-extension handlers to handle MBOXes in various formats.
#\filetype \
#   bz2 'bzip2 -dc' 'bzip2 -zc' \
#   gpg 'gpg -d' 'gpg -e' \
#   gz 'gzip -dc' 'gzip -c' \
#   xz 'xz -dc' 'xz -zc' \
#   zst 'zstd -dc' 'zstd -19 -zc' \
#   zst.pgp 'gpg -d | zstd -dc' 'zstd -19 -zc | gpg -e'

# If mail is send from cron scripts and iconv(3) is compiled it, it could be
# that sending fails because of invalid (according to locale) character input.
# This undesired event can be prevented as follows, the (possibly) resulting
# octet-stream message data can be read nonetheless via
# *mime-counter-evidence*=0b1111; better would be $UID -eq 0:
#\if ! terminal && "$LOGNAME" == root
#   \set mime-force-sendout
#\endif

## }}}
## Example configurations (on top of defaults above) {{{

## Request strict TLS transport layer security checks
#\set tls-verify=strict
#
## Where are the up-to-date TLS certificates?
## Since we manage up-to-date ones explicitly, do not use any,
## possibly outdated, default certificates shipped with OpenSSL
##\set tls-ca-dir=/etc/ssl/certs
#\set tls-ca-file=/etc/ssl/certs/ca-certificates.crt tls-ca-no-defaults
##\set tls-ca-flags=partial-chain
#\set smime-ca-file="${tls-ca-file}" smime-ca-no-defaults #\
#  smime-ca-flags="${tls-ca-flags}"
#
## This could also be outsourced to a central configuration file via
## *tls-config-file* plus *tls-config-module* iff the used library allows.
## CipherString: explicitly define the list of ciphers, which may
##   improve security, especially with protocols older than TLS v1.2.
##   See ciphers(1).  Possibly best to only use *tls-config-pairs-HOST*
##   (or -USER@HOST), as necessary, again..
##   Note that TLSv1.3 uses Ciphersuites= instead, which will join
##   with CipherString (if protocols older than v1.3 are allowed)
## Curves: especially with TLSv1.3 curves selection may be desired.
## MinProtocol,MaxProtocol: do not use protocols older than TLS v1.2.
##   Change this only when the remote server does not support it:
##   maybe use chain support via *tls-config-pairs-HOST* / -USER@HOST
##   to define such explicit exceptions, then, e.g.,
##     MinProtocol=TLSv1.1
#\if "$tls-features" =% ,+ctx-set-maxmin-proto,
#   \set tls-config-pairs='\
#      CipherString = TLSv1.2:!aNULL:!eNULL:@STRENGTH,\
#      Curves=P-521:P-384:P-256,\
#      MinProtocol = TLSv1.2'
#\else
#   \set tls-config-pairs='\
#      CipherString = TLSv1.2:!aNULL:!eNULL:@STRENGTH,\
#      Curves = P-521:P-384:P-256,\
#      Protocol = -ALL\, +TLSv1.2\, +TLSv1.3'
#\endif
#
## Default directory where we act in (relative to $HOME)
#\set folder=mail
## A leading "+" (often) means: under *folder*
## *record* is used to save copies of sent messages
#\set MBOX=+mbox.mbox DEAD=+dead.txt \
#   record=+sent.mbox record-files record-resent
#
## Make "file mymbox" and "file myrec" go to..
#\shortcut  mymbox %:+mbox.mbox  myrec +sent.mbox
#
## Not really optional as it is needed for, e.g., S/MIME
#\set from='Your Name <address@exam.ple>'
#
## It may be necessary to set *hostname* and/or *smtp-hostname*
## if the "SERVER" of *mta* and "domain" of *from* do not match.
## The `urlencode' command can be used to encode USER and PASS
##\set mta=(smtps?|submissions?)://[USER[:PASS]@]SERVER[:PORT]
#\set mta=test
#
#\set \
#  append asksend autocollapse autosort=thread \
#  colour-pager crt= \
#  editalong=v editheaders emptystart \
#  followup-to followup-to-add-cc followup-to-honour=ask-yes \
#     forward-add-cc fullnames \
#  header history-file=+.mailx-hist history-size=-1 history-gabby=all \
#     hold \
#  indentprefix='> ' \
#  keep keepsave \
#  markanswered mime-counter-evidence=0b1111 \
#  outfolder \
#  prompt='?\$?!\$!/\$^ERRNAME[\$account#\$mailbox-display]? ' \
#  quote=allbodies quote-add-cc \
#  recipients-in-cc reply-to-honour=ask-yes reply-to-swap-in=mlist \
#  sendcharsets=utf-8,iso-8859-1 showname showto \
#  umask=
#
## Some mailing lists
#\mlist list.one@exam.ple  '@xyz-editor\.xyz$' '@xyzf\.xyz$'
#\mlsubscribe list.two@exam.ple  '^xfans@xfans\.xyz$'
#
## A real life example of a very huge free mail provider
## Instead of directly placing content inside `account',
## we `define' a macro: like that we could "switch accounts"
## from within *on-compose-splice*, for example!
#\define XooglX {
#  \set from='Your Name <address@examp.ple>'
#  \set folder=~/spool/XooglX inbox=+syste.mbox sent=+sent
#
#  \set mta=smtps://USER:PASS@smtp.gmail.com:465 mta-bcc-ok
#
#  \set pop3-no-apop-pop.gmXil.com
#  \shortcut pop %:pop3s://pop.gmXil.com
#  \shortcut imap %:imaps://imap.gmXil.com
#  # Or, entirely IMAP based setup
#  #\set folder=imaps://imap.gmail.com record="+[Gmail]/Sent Mail"
#}
#\account XooglX {
#  \call XooglX
#}
#
## Here is a pretty large one which does not allow sending mails
## if there is a domain name mismatch on the SMTP protocol level,
## which would bite us if the value of *from* does not match, e.g.,
## for people who have a sXXXXeforge project and want to speak
## with the mailing list under their project account (in *from*),
## still sending the message through their normal mail provider
#\define XandeX {
#  \set from='Your Name <address@exam.ple>'
#  \set folder=~/spool/XandeX inbox=+syste.mbox sent=+sent
#
#  \shortcut pop %:pop3s://pop.yaXXex.com
#  \shortcut imap %:imaps://imap.yaXXex.com
#
#  \set mta=smtps://USER:PASS@smtp.yaXXex.com:465 \
#    hostname=yaXXex.com smtp-hostname=
#}
#\account XandeX {
#  \call Xandex
#}
#
## Create some new commands so that, e.g., "? ls /tmp" will..
#\commandalias lls '!ls -aFlrS'
#\commandalias llS '!ls -aFlS'
#
## When storing passwords in a resource file, appropriate permissions should
## be set ($ chmod 0600 FILE).  If the optional *netrc-lookup* is available
## user credentials can be stored in a central ~/.netrc file instead; e.g.,
## here is a version of the example account that sets up SMTP and POP3:
#
#\define XandeX {
#  \set from='Your Name <address@exam.ple>'
#  \set folder=~/spool/XandeX inbox=+syste.mbox sent=+sent
#  \set netrc-lookup
#  # Load an encrypted ~/.netrc instead by uncommenting the next line
#  #\set netrc-pipe='gpg -qd ~/.netrc.pgp'
#
#  \set mta=smtps://smtp.yXXXXx.ru:465 \
#      smtp-hostname= hostname=yXXXXx.com
#  \set pop3-keepalive=240 pop3-no-apop-pop.yXXXXx.ru
#}
#
## Then add to ~/.netrc
##    $ echo 'machine *.yXXXXx.ru login USER password PASS' >> ~/.netrc
## This configuration should now work just fine:
##    $ echo text | mailx -dvv -AXandeX -s Subject user@exam.ple

## }}}
# s-it-mode
