#--MKRC-START--
# /etc/s-nail.rc
# Configuration file for S-nail(1).
#--MKRC-END--

# If threaded mode is activated, automatically collapse thread.
set autocollapse

# Enter threaded mode automatically
#set autothread autosort=thread

# Append rather than prepend when writing to mbox automatically.
# This has no effect unless 'hold' is unset again.
set append

# Ask for a message subject.
set ask

# Slightly more "BSDish" behaviour: traditional flag display in the header
# summary; *bsdannounce* prints a header summary on folder change and thus
# complements *header* on a per-folder basis; it is meaningless unless
# *header* is set (which it is by default)
set bsdflags bsdannounce

# Assume a CRT-like terminal and invoke a pager.
set crt

# Define date display in header summary
#set datefield="%R %m-%d" datefield-markout-older="   %g-%m-%d"

# Messages may be terminated by a dot.
set dot

# Immediately start $EDITOR (/ $VISUAL) when composing a message
#set editalong

# Do not remove empty private mail folders.
set emptybox

# Startup into interactive mode even if the (given) mailbox is empty.
#set emptystart

# Do not forward to mbox by default since this is likely to be
# irritating for most users today.
set hold

# Quote the original message in replies by "> " as usual on the Internet.
set indentprefix="> "

# Mark messages that have been answered.
set markanswered

# Try to circumvent false or missing content-type descriptions
set mime-counter-evidence

# Control loading of mime.types(5) file: the value may be a combination of the
# letters "s" and "u": if "u" is seen ~/.mime.types will be loaded if possible;
# "s" adds /etc/mime.types, if available; setting this without any value uses
# only a set of builtin mimetypes; the default behaviour equals "us".
#set mimetypes-load-control

# Automatically check for new messages at each prompt, but avoid polling
# of IMAP servers or maildir folders.
set newmail=nopoll

# Do not remove empty mail folders in the spool directory.
# This may be relevant for privacy since other users could
# otherwise create them with different permissions.
set keep

# When writing mailbox files we strip Content-Length: and Lines: header fields
# from edited / changed messages, because S-nail doesn't deal with these
# (non-standard) fields -- and since other MUAs may rely on their content, if
# present, it seems more useful to strip them than to keep them, now that they
# became invalid; set this to include them nonetheless
#set keep-content-length

# A nice prompt for ISO 6429/ECMA-48 terminals
#set prompt="\033[31m?\?[\$ \@]\& \033[0m"

# Automatically quote the text of the message that is responded to.
set quote

# On group replies, specify only the sender of the original mail in  To: and
# mention it's other recipients in the secondary Cc: instead of placing them
# all together in To:
set recipients-in-cc

# When answering a mail, try to use the same character set
#set reply-in-same-charset

# Outgoing messages are sent in ISO-8859-1 if all their characters are
# representable in it, otherwise in UTF-8.  Also see the documentation of
# *sendcharsets-else-ttycharset*, and the section "Character sets" in general
set sendcharsets=iso-8859-1,utf-8

# Display sender's real names in header summaries.
set showname

# Display the recipients of messages sent by the user himself in
# header summaries.
set showto

# Hide some header fields which are uninteresting for most human readers.
ignore received in-reply-to message-id references
ignore mime-version content-transfer-encoding

# Only include selected header fields when forwarding messages.
fwdretain subject date from to

# The special pipe command @ will force treatment as plain text.
# Add some rather useful of those.
set pipe-application/javascript=@
set pipe-application/json=@
set pipe-application/mbox=@
set pipe-application/x-latex=@
set pipe-application/x-perl=@
set pipe-application/x-sh=@
set pipe-application/x-shar=@
set pipe-application/x-tex=@
set pipe-application/x-texinfo=@
set pipe-application/x-xfig=@
set pipe-application/xhtml+xml=@
set pipe-application/xml=@
set pipe-application/xml-dtd=@
set pipe-application/xslt+xml=@

# Other pipe-CONTENT/SUBCONTENT entries
#set pipe-text/html="lynx -stdin -dump -force_html"
